.BasketItem {
  @apply flex justify-between w-full pb-10 mb-20 border-b-2 h-fit border-b-darkColor;
}
.leftPart {
  @apply flex gap-6;
}
.BasketItem img {
  max-width: 150px;
  aspect-ratio: 1;
  object-fit: cover;
}
.options {
  @apply flex flex-col gap-2;
}
.name {
  @apply mb-2 text-xl font-semibold;
}
.size {
  @apply text-lg;
  word-spacing: 5px;
  text-transform: uppercase;
}
.color {
  @apply text-lg;
  word-spacing: 5px;
  text-transform: uppercase;
}
.price {
  @apply p-3 text-xl font-semibold text-white h-fit bg-darkColor rounded-xl;
}
.MobPrice {
  @apply hidden;
}
.functional {
  @apply flex flex-col justify-between;
}
.counter {
  @apply flex gap-2;
}
.bt {
}
.count {
  @apply flex items-center border-2 rounded-md px-7 border-darkColor;
}
.delete {
  @apply w-full bg-darkColor;
}
@media (max-width: 1200px) {
  .price {
    @apply hidden;
  }
  .MobPrice {
    @apply block p-3 font-semibold text-center text-white w-fit h-fit bg-darkColor rounded-xl;
  }
}
@media (max-width: 728px) {
  .BasketItem {
    @apply flex-col gap-10;
  }
  .leftPart {
    @apply gap-8;
  }
  .BasketItem img {
    height: 120px;
  }
  .price {
    margin-left: auto;
  }
  .functional {
    @apply flex-row-reverse;
  }
  .delete {
    @apply w-fit;
  }
  .price {
    @apply block;
  }
  .MobPrice {
    @apply hidden;
  }
}
@media (max-width: 520px) {
  .leftPart {
    @apply gap-2;
  }
}
@media (max-width: 416px) {
  .price {
    @apply hidden;
  }

  .MobPrice {
    @apply block p-3 font-semibold text-center text-white w-fit h-fit bg-darkColor rounded-xl;
  }
  .name,
  .size,
  .color {
    font-size: 16px;
  }
}
