.wrapperForScroll {
  @apply absolute top-0 z-40 w-screen h-screen overflow-x-hidden overflow-y-hidden -right-full;
  transition: 0.3s;
}
.wrapper {
  @apply absolute top-0 -right-full w-screen h-[990px] z-40;
  transition: 0.3s;
}
.bagIcon {
  position: relative;
}

.bagIcon::after {
  content: attr(countorders);
  @apply absolute right-0 flex items-center justify-center w-5 h-5 p-1 text-sm font-semibold rounded-full text-lightGreen bg-darkColor -bottom-1;
}
.wrapperForScroll.open {
  @apply right-0 overflow-y-auto;
  transition: 0.3s;
}
.wrapper.open {
  @apply right-0;
}
.mobMenuBlur {
  @apply absolute top-0 right-0 w-full h-full;
}
.wrapper.open .mobMenuBlur {
  animation: anim 0.6s 0.3s forwards;
}
.mobMenu {
  @apply w-[320px] right-0 top-0 h-full bg-lightGreen flex flex-row pt-4 px-5 absolute overflow-x-hidden;
  transition: 0.3s;
}
.show {
  @apply translate-x-0;
  transition: 0.25s;
}
.hideRight {
  @apply translate-x-[300px] !important;
  transition: 0.25s;
}
.hideLeft {
  @apply -translate-x-[300px] !important;
  transition: 0.25s;
}

.mainPanel {
  @apply absolute flex flex-col mr-5 translate-x-0 top-4 left-5;
  transition: 0.25s;
}
.secondPanel {
  @apply mr-5 absolute top-4 left-5 w-[280px] translate-x-0;
  transition: 0.25s;
}
.thirdPanel {
  @apply absolute top-4 left-5 w-[280px] translate-x-0;
  transition: 0.25s;
}
.close {
  @apply text-3xl text-right;
}
.links {
  @apply flex flex-col w-full gap-6 mt-4 text-3xl font-medium;
}
.link {
  @apply flex justify-between;
}
.jordan {
  @apply flex items-center mt-10 mb-20;
}
.jordan span {
  @apply ml-4 text-lg font-semibold tracking-wider;
}

.join_us {
  @apply mb-6;
}
.text {
  @apply text-2xl mb-9;
  color: rgba(0, 0, 0, 0.7);
}
.text a {
  @apply text-black opacity-100;
}
.item {
  @apply flex items-center gap-5 mb-4;
}
.item a {
  @apply pt-1 text-xl;
}

@keyframes anim {
  from {
    background: rgba(0, 0, 0, 0);
  }
  to {
    @apply backdrop-blur-[2px];
    background: rgba(0, 0, 0, 0.2);
  }
}
