footer {
  @apply bottom-0 w-full h-full px-64 py-10 text-darkColor bg-lightGreen;
}
footer .links {
  @apply flex justify-between mb-12;
}
footer .columns {
  @apply flex flex-wrap justify-between;
  width: 80%;
}

footer .title {
  @apply pb-4 text-base font-semibold cursor-pointer;
}
footer .col1 .title:not(:first-child) {
  @apply pb-4;
}
footer .col__link {
  @apply h-10 text-sm font-semibold cursor-pointer opacity-70 hover:opacity-100 hover:font-bold;
  width: fit-content;
}

footer .col1 {
  @apply text-3xl font-semibold;
  width: 120px;
}

.footer__accordion-item {
  width: 120px;
}

.footer__accordion-header {
  display: none;
}

footer .cookie-and-terms {
  @apply flex;
}
.footer__left-part {
  @apply flex items-end w-1/2;
}
footer .location {
  @apply flex items-center mr-8 text-sm font-semibold cursor-pointer;
  max-height: 24px;
}
footer .anything {
  @apply flex items-center text-sm font-semibold opacity-70;
  max-height: 24px;
}
footer .cookie-and-terms-links {
  @apply flex flex-wrap justify-end w-full gap-4;
}
footer .cookie-and-terms-links__item {
  @apply font-semibold cursor-pointer opacity-70 hover:opacity-100 hover:font-bold;
}
@media (max-width: 1700px) {
}
@media (max-width: 1440px) {
  footer {
    @apply bottom-0 w-full px-48 py-10 text-darkColor bg-lightGreen;
  }
}
@media (max-width: 1200px) {
  footer {
    @apply bottom-0 w-full px-20 py-10 text-darkColor bg-lightGreen;
  }
}
@media (max-width: 992px) {
}
@media (max-width: 768px) {
  footer {
    @apply bottom-0 w-full py-10 text-darkColor bg-lightGreen px-14;
  }
  .footer__left-part {
    @apply flex items-end w-full;
  }
}
@media (max-width: 600px) {
  footer {
    @apply px-3;
  }
  footer .links {
    @apply flex flex-col justify-between mb-10;
  }
  footer .cookie-and-terms {
    @apply flex flex-col gap-10;
  }
  footer .cookie-and-terms-links {
    @apply flex flex-col flex-wrap justify-start w-full gap-10;
  }
  .footer__left-part {
    @apply flex flex-col items-start justify-start w-full;
  }
  footer .col1 {
    @apply w-full mb-4 border-b-2 border-b-darkColor;
  }
  footer .columns {
    @apply flex flex-col flex-wrap w-full;
  }

  .footer__accordion-item .title {
    display: none;
  }
  /* .footer__accordion-body {
        @apply overflow-hidden border-b-0 opacity-0 max-h-0 border-b-darkColor;
    } */
  .footer__accordion-header {
    @apply flex justify-between w-full mb-6;
  }
  .footer__accordion-header .title {
    @apply inline pb-0;
  }
  .footer__accordion-header .minus {
    display: none;
  }
  .footer__accordion-header .plus {
    display: none;
  }
  /* При открытии аккордиона */
  .footer__accordion-item.open {
    @apply w-full max-h-full;
    transition: 0.5s;
  }
  .footer__accordion-item.close {
    @apply w-full max-h-20;
    transition: 0.5s;
  }
  .footer__accordion-item.open .minus,
  .footer__accordion-item.close .plus {
    display: inline;
  }
  .footer__accordion-item.open .plus,
  .footer__accordion-item.close .minus {
    display: none;
  }

  .footer__accordion-item.open .footer__accordion-body {
    @apply mb-6 overflow-visible border-b-2 opacity-100 max-h-96 border-b-darkColor;
    transition: 0.5s;
  }
  .footer__accordion-item.close .footer__accordion-body {
    @apply overflow-hidden border-b-2 opacity-0 border-b-darkColor max-h-0;
    transition: 0.5s;
  }
}
@media (max-width: 576px) {
  footer {
    @apply bottom-0 w-full py-10 text-darkColor bg-lightGreen px-7;
  }
}

@keyframes close {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(2);
  }
}
@keyframes open {
  0% {
    @apply opacity-0 max-h-0;
  }
  50% {
    @apply opacity-100;
  }
  100% {
    @apply opacity-100 max-h-96;
  }
}
