.shoesPart {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-auto-rows: 35vw;
  gap: 40px;
}
.item {
}
.item img {
  @apply object-cover w-full h-[25vw] bg-gray-300;
}
.lowerPart {
  @apply py-6 h-fit bg-darkColor;
}
.text {
  @apply pl-6;
}
.title {
  @apply mb-2 text-xl font-medium text-white;
}
.countColor {
  @apply text-lg text-gray-400;
}
.price {
  @apply h-12 mt-6 text-xl font-medium bg-white border-r w-28 rounded-e-xl;
}
