header {
  @apply relative z-20 w-full bg-lightGreen;
}
header .wrapper {
  @apply z-20;
}
.headerPart {
  @apply flex justify-between;
}
.icon {
  @apply h-16 w-80;
}
.ul li {
  border-bottom-width: 4px;
  border-color: transparent;
  transition: 0.3s;
  height: 100%;
  display: flex;
  align-items: center;
}

.ul li:hover {
  @apply border-b-4 border-solid border-darkColor;
}
.nav {
  @apply h-16 text-xl;
  font-weight: 600;
}

.ul {
  @apply flex items-center h-full gap-6;
  padding-top: 4px;
}
.link0 {
}
.link1 {
}
.link2 {
}
.link3 {
}

.rightPart {
  @apply flex items-center justify-end h-16 gap-3 w-80;
}

.bagIcon {
  position: relative;
  z-index: 0;
}

.bagIcon::after {
  content: attr(countorders);
  @apply absolute right-0 flex items-center justify-center w-5 h-5 p-1 text-sm font-semibold rounded-full text-lightGreen bg-darkColor -bottom-1;
}
.searchContainer {
}
.separator {
  @apply relative z-[2] bg-transparent;
}
.search1 {
  flex: 0 1 235px;
  display: block;
  @apply pl-10 border-none rounded-2xl h-7;
  outline: none;
  background-image: url("../../../img/search-regular-24.png");
  background-size: 24px;
  background-position: 10px 50%;
  background-repeat: no-repeat;
  transition: 0.5s;
}
.openSearchContainer {
  @apply fixed top-0 bottom-0 left-0 right-0 z-10 w-full;
}
.openSearchContainer .search1 {
  @apply bg-slate-200 py-5 !important;
  flex: 0 1 460px;
}
.openSearchContainer .separator {
  @apply bg-white;
}
.openSearchContainer .content {
  display: block;
}
.content {
  display: none;
}
.searchWrapper {
  @apply py-5;
}
.searchHeader {
  @apply flex items-center justify-between;
}
.terms {
  @apply flex flex-col gap-5 mx-auto w-[460px] mt-3;
}
.title {
  @apply text-lg text-slate-500;
}
.popularTerms {
}
.popularTerms a {
  @apply text-xl font-medium hover:text-slate-600 hover:cursor-pointer;
}
.blurSearch {
  @apply fixed top-0 bottom-0 left-0 right-0 z-[1];
  background-color: rgba(0, 0, 0, 0.238);
  backdrop-filter: blur(4px);
  visibility: hidden;
  opacity: 0;
  transition: 0.5s;
}

.closeBt,
.iconSr {
  display: none;
}
.openSearchContainer .closeBt,
.openSearchContainer .iconSr {
  display: block;
}
.openBlurSearch {
  opacity: 1;
  visibility: visible;
}
.mobRightPart {
  @apply flex items-center justify-between w-56;
  display: none;
}
.burger {
  @apply flex flex-col justify-between w-8 h-6 cursor-pointer;
}
.row {
  @apply w-full bg-darkColor;
  height: 15%;
}
@media (max-width: 1700px) {
}
@media (max-width: 1439px) {
  .search1 {
    flex: 0 1 170px;
  }
  .ul {
    @apply flex items-center h-full gap-5;
    padding-top: 4px;
  }
}
@media (max-width: 1200px) {
  .link1 {
    display: none !important;
  }
  .search1 {
    width: 170px;
  }
  .rightPart {
    @apply flex items-center justify-end h-16 gap-3 w-80;
  }
}
@media (max-width: 992px) {
  .headerPart {
    align-items: center;
  }
  .ul {
    display: none;
  }
  .rightPart {
    display: none;
  }
  .mobRightPart {
    display: flex;
  }
}
@media (max-width: 768px) {
  .icon {
    @apply w-32 h-16;
  }
}
@media (max-width: 576px) {
}
